body {
    font-family: 'Mitr', sans-serif;
}

.color1{
    background-color: #f14668 !important; 
    color: #FFFFFF !important; 
}

#btn_new1 {
    font-size: 30px;
    background-color: #CC3366;
    border-color: #ab3c3c;
    color: #FFFFFF;
    height: 70px;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px 5px 5px 5px;
    min-width: 250px;
}

#btn_new1:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
}

#btn_new1:active {
    box-shadow: 0 0 #ab3c3c;
    top: 6px;
}

#btn_new2 {
    background-color: #E8C2EA;
    color: #70477E;
    width: 200px;
    height: 50px;
    box-shadow: 0 6px #AC8FB6;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 5px 5px 5px 5px;
    border-color: #AC8FB6;
}

#btn_new2:hover {
    box-shadow: 0 4px #AC8FB6;
    top: 2px;
}

#btn_new2:active {
    box-shadow: 0 0 #AC8FB6;
    top: 6px;
}

#ft1 {
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
}

#ft2 {
    color: #FFFFFF;
}

.btn_facebook{
    background: #1877F2 !important;
    color: white !important;
    text-decoration: none !important;
}

.tag{
    text-decoration: none !important;
}

.btn_sub {
    font-size: 24px;
    
    border: solid 3px #e45b46;
    color: #e45b46;
    height: 70px;
    
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 10px;
    min-width: 250px;
}

.btn_sub:hover {

    border-color: #e22407;
    color: #e22407;
    
}

.btnAlert {
    padding: 2rem 4.25rem 2rem 4.25rem;
    background-color: #cc3366;
    box-shadow: 0 10px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border-radius: 10px 10px 10px 10px;
}

.theme1 {
    color: #cc3366;
    text-align: center;
    font-size: small;
}

.color2 {
    background-color: #CDA0CA;
}

.test {
    width: 300px;
    position: relative;
}

#i-receive {
    color: #e45b46;
    border-color: #e45b46;
    color: white;
    font-weight: bold;
}

#i-receive:hover {
    background: #e45b46;
    border-color: #e45b46;
    color: white;
    font-weight: bold;
}

#i-additional {
    color: #FFBD00;
    border-color: #FFBD00;
    color: black;
    font-weight: bold;
}

#i-additional:hover {
    background: #FFBD00;
    border-color: #FFBD00;
    color: black;
    font-weight: bold;
}

#i-process {
    color: #cc99cc;
    border-color: #cc99cc;
    background-color: #cc99cc;
    color: white;
    font-weight: bold;
}

#i-process:hover {
    background: #cc99cc;
    border-color: #cc99cc;
    background-color: #9e759e;
    color: white;
    font-weight: bold;
}

.wall1 {
    background-image: url("../images/wall-n1.jpg");
    background-size: cover;

}

.wall2 {
    background-image: url("../images/wall-n2.jpg");
    background-size: cover;

}

.wall3 {
    background-image: url("../images/wall-n3.jpg");
    background-size: cover;
}

.wall4 {
    background-image: url("../images/wallpaper_crisis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}

.wall5 {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;

}

.div-detail{

    color: #FFFFFF;
    width: 100%;
    height: 40px;
    
    border-radius: 50px;
    opacity: 0.9;

    background: rgb(229,8,112);
    background: linear-gradient(90deg, rgba(229,8,112,1) 0%, rgba(229,8,112,0) 100%);

    border: 0px;

    margin-bottom: 10px;
    margin-left: 30px;

}

.img_detail{

    margin-left: -5px;
    margin-top: -5px;

}


@media only screen and (max-width: 770px) {

    .div-detail{
        font-size:10px;
        margin-left: 0px;
    }

    .wall4 {
        background-image: url("");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
    
    }
    .wall5 {
        background-image: url("../images/wallpaper_crisis.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top left;
    
    }

}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    padding: 20px;
}

/* guide page */

.box_text {
    position: relative;
    border: 5px solid #fff;
    border-radius: 10px;
    
}
.image_cover {
    display: block;
    width: 100%;
    max-height: 330px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
  }
  
  .overlay_cover{
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    
  }
  
  .box_text:hover .overlay_cover {
    opacity: 1;
  }

  .wall1 {
    background-image: url("../images/wall-n1.jpg");
    background-size: cover;
  
  }
  
  .wall2 {
    background-image: url("../images/wall-n2.jpg");
    background-size: cover;
  
  }
  
  .wall3 {
    background-image: url("../images/wall-n3.jpg");
    background-size: cover;
  }
