body {
    font-family: 'Mitr', sans-serif;
    -webkit-print-color-adjust:exact;
}

#result_ac{
    font-family: Arial, Helvetica, sans-serif;
    size:14px
}

.custom-dropdown.dropdown-toggle::after {
    rotate: 270deg !important; 
}

.indent1 {
	text-indent: 50px;
	width:800px;
	margin: auto;
	}
	.indent2 {
	width:800px;
	margin: auto;
	}

	.bindent2{
	text-indent: -2em;
	}

	.indent3 {
	text-indent: 30%;
	}

A:link {
    text-decoration: none !important; 
}
  
A:visited {
    text-decoration: none !important; 
}

a, u {
    text-decoration: none;
  }

.tabtype {

color: #333;
border: 1px solid #ccc;

}

.tabtype:hover {
color: #fff;
border: 1px solid #de0867 !important;
background-color: #de0867 !important;
}

.tabtype.active {
color: #fff;
border: 1px solid #de0867 !important;
background-color: #de0867 !important;
}

.tabtype > .textcolor1{
    color: #333;
}

.tabtype:hover > .textcolor1{
    color: #fff;
}

.tabtype.active > .textcolor1{
    color: #fff;
}

.dropdown-toggle.active{
    background-color: #de0867 !important;
  }
  
.dropdown-item.active{
    background-color: #de0867 !important;
}

.orange {
    color: #000;
    background-color: #fd7e14; 
}

.border-orange {
    border: 1px solid #fd7e14;
}


.btn-rounded{
    border-radius: 40px;
}

.chart-rounded{
    border-radius: 20px;
}


.bgcolor1{
    background: #de0867;
    color: #ffffff;
}

.btn_color1{
    background: #de0867;
    color: #ffffff;
}

.btn_color1:hover{
    background: #720737;
    color: #ffffff;
}


#table1 th {
    color: #ffffff;
    background: #de0867;
    border: 1px solid #ffffff;
}

#table1 td {
    background: #f9e7f8;
    border: 1px solid #ffffff;
}

.div-h {
    height:80px;
}
.short-div {
    height:40px;
}


.hideextra { white-space: nowrap; overflow: hidden; text-overflow:ellipsis; }

.box-top {
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    height: 80px;
}
.box-buttom {
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
}


.datepicker {
    background-color: #fff;
    color: #333;
    padding: 5px;
    border: 2px solid #eee;
    padding: 20px;
}

@media (min-width: 768px) {
    .boxstatus {
        width: 14.284%;
    }
  }
